/* Efek fade-in untuk popup */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Background dengan efek blur */
.blur-background {
  backdrop-filter: blur(8px); /* Efek blur */
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
}

/* Animasi fade-in */
.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}

/* Kelas untuk panah bergerak */
.animate-bounce-arrow {
  animation: bounceArrow 1.5s infinite ease-in-out;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #3ba881;
}
